.charity-auth {
  font-family: "Inter Tight", sans-serif;
  .auth-content-side {
    height: 100vh;

    overflow-y: auto;
    display: flex;
    align-items: center;
    .auth-header {
      h2 {
        font-weight: 900;
        letter-spacing: -1.3px;
      }
    }

    form {
      a {
        color: #368f26;
      }
      label {
        font-size: 13px;
      }
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      button.submit-btn {
        padding: 8px 25px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        background-color: #368f26;
        border: 1px solid #368f26;
        color: #fff;
      }
    }
  }
  .auth-bg-side {
    height: 100vh;
    padding: 30px 0;

    .auth-bg-side-content {
      border: 1px solid #368f26;
      height: 100%;
      border-radius: 10px;
    }
  }
}
