.countdown {
  text-align: center;
  color: #fff;
  padding: 20px;
}

.timer {
  display: flex;
  column-gap: 40px;
  row-gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  span.main-count {
    font-size: 7rem;
    font-weight: bold;
    line-height: 1cap;
  }

  span.count-text {
    font-size: 13px;
    display: block;
  }
}


.tx-green {
  color: #41ff4a;
}